<div>
  <h3>Waterski Kampen</h3>
</div>

<div>
  <p>Waterskischool Costa Zela in samenwerking met Waterskiclub Schuurkesbeekplas 
    bied u de mogelijkheid om een waterski of wakeboardkamp te volgen.</p>
</div>

<div>
  <ul>
    <li>
      Supercool, want je kan er alle soorten waterski-disciplines uitproberen: bi-ski, mono, slalom, wakeboard, figuurski, showski
    </li>
    <li>
      Je skiet 3 maal per dag, dit 5 dagen lang.
    </li>
    <li>
      Gediplomeerde trainers leren je de fijnste kneepjes.
    </li>
    <li>
      Alle niveau's: zowel beginners als gevorderden leren gegarandeerd bij!
    </li>
    <li>
      Jouw vorderingen worden beloond met een officieel door Bloso erkend brevet.
    </li>
    <li>
      Plus natuurlijk nog heel veel meer fun in en aan het water.
    </li>
    <li>
      Gebruik materiaal gratis ter beschikking.
    </li>
  </ul>
</div>

<div>
  <h4>Praktisch</h4>
  <p> leeftijd vanaf 7 jaar
    3 x waterskiles per dag</p>

  <h4>Periode</h4>
  <p>maandag 2 juli tot en met vrijdag 6 juli
    en maandag 23 juli tot en met vrijdag 27 juli</p>

  <h4>Locatie</h4>
  <p>Schuurkesbeekplas, Hageland 9 - 9840 De Pinte</p>

  <h4>Prijzen</h4>

  <h5>Extern</h5>
  <p> 340,- (lid cz 320,-)
    incl. middagmaal + frisdrankje + 4 uurtje </p>

  <h5>Intern</h5>
  <p>(mits eigen tentje en slaapgerief): 
    440,- (lid cz 420,-)
   incl. ontbijt + middagmaal + avondmaal + frisdrankje, mineraalwater gratis.</p>

  <h4>Meer informatie: </h4>
  <p>Meer info + inschrijven: costazela@scarlet.be</p>
  <p>Kathleen De Moor (Costa Zela), 0486/423 689 </p>
  <p>Frank de Block-Burij (Schuurkesbeekplas), 09/220 68 86, 0496/260 400</p>
</div>