<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">Skischool</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link"  routerLink="/home" routerLinkActive="active" >Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"routerLink="/kampen" routerLinkActive="active">Kampen</a>
            </li>
            
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item" *ngIf="userIsLoggedIn == false">
                <a class="nav-link" routerLink="/login" routerLinkActive="active" >Login</a>
            </li>
                    <li class="nav-item" *ngIf="userIsLoggedIn">
                        <a class="nav-link" routerLink="/profiel" routerLinkActive="active" >Instellingen</a>
                    </li>
                    <li class="nav-item" *ngIf="isAdmin" >
                        <a class="nav-link" routerLink="/admin" routerLinkActive="active" >Admin</a>
                    </li>
            
            <li  class="nav-item" *ngIf="userIsLoggedIn">
                <a class="nav-link" (click)="logout($event)">Logout</a>
            </li>
        </ul>
    </div>
</nav>