
.example-container {
    display: flex;
    flex-direction: column;
    max-height: 1000px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 1000px;
    margin: 10px;
  }
  
  .page-title{
    text-align: center;
}

h3{
  color: black;
  margin: 10px;
}

.mat-cell button{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-cell input{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}