<h2 class="page-title">Admin paneel</h2>

<h3>Gebruikersinformatie</h3>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email adres </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} <i class="material-icons" (click)='detail(user.email)'>zoom_in</i></mat-cell>
    </ng-container>

    <ng-container matColumnDef="memberadd">
      <mat-header-cell *matHeaderCellDef>Lid status</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div *ngIf='user.member'>
            <div *ngIf="!user.member.pending">
                <mat-cell> Is lid </mat-cell>
              </div>
              <div *ngIf="user.member.pending">
                <mat-cell> Wil lid worden </mat-cell>
                <button class="btn btn-info" (click)="addMember(user.member._id)">Markeer als lid</button>  
              </div>
        </div>
        
        <div *ngIf="!user.member">
          <mat-cell> Is geen lid </mat-cell>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="skicards">
      <mat-header-cell *matHeaderCellDef> Aantal skikaarten </mat-header-cell>
      <mat-cell *matCellDef="let user"> 
        <div *ngIf="user.skicards.length == 0">
          <mat-cell> Geen skikaarten </mat-cell>
        </div>
        <div *ngIf="user.skicards.length > 0">
          <mat-cell> {{user.skicards.length}} </mat-cell>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="skicardsadd">
      <mat-header-cell *matHeaderCellDef>Skikaart toevoegen</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div *ngFor="let card of user.skicards">
          <div *ngIf="!card.payed">
            <mat-cell> In aanvraag </mat-cell>
            <button class="btn btn-info" (click)="addCard(card._id)">Heeft betaald</button>
          </div>
          <div ></div>
        </div>
        <div *ngIf='user.skicards'>
          <mat-cell> Geen kaarten in aanvraag </mat-cell>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>