<h2 class="page-title">Admin paneel</h2>

<h3>Gebruikersinformatie</h3>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email adres </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="member">
      <mat-header-cell *matHeaderCellDef> Lid </mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div *ngIf="user.member.isMember">
          ja
        </div>
        <div *ngIf="!user.member.isMember">
          nee
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="memberadd">
      <mat-header-cell *matHeaderCellDef>Lid status</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div *ngIf="user.member.isMember">
          <p>Is lid</p>
        </div>
        <div *ngIf="user.member.pending">
          <p>Wil lid worden</p>
          <button class="btn btn-info" (click)="addMember(user)">Markeer als lid</button>  
        </div>
        <div *ngIf="!user.member.isMember && !user.member.pending">
          <p>Is geen lid</p>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="skicards">
      <mat-header-cell *matHeaderCellDef> Aantal skikaarten </mat-header-cell>
      <mat-cell *matCellDef="let user"> 
        <div *ngIf="user.skicards.length == 0">
          Geen skikaarten
        </div>
        <div *ngIf="user.skicards.length > 0">
          {{user.skicards.length}}
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="skicardsadd">
      <mat-header-cell *matHeaderCellDef>Skikaart toevoegen</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <div *ngFor="let card of user.skicards">
          <div *ngIf="!card.payed">
            <mat-cell> In aanvraag </mat-cell>
            <button class="btn btn-info" (click)="addCard(card._id)">Heeft betaald</button>
          </div>
          <div ></div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- 
    <ng-container matColumnDef="skiturns">
      <mat-header-cell *matHeaderCellDef> Aantal skibeurten </mat-header-cell>
      <mat-cell *matCellDef="let user">
        {{user.totalskiturns}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="markturnasused">
      <mat-header-cell *matHeaderCellDef>Trek beurt af</mat-header-cell>
      <mat-cell *matCellDef="let user">
        <input type="number" placeholder="aantal minuten geskied" value="minutes" #minutes>
        <button class="btn btn-warning" (click)="decreaseTurn(minutes.value, user._id)">Trek beurt af</button>
      </mat-cell>
    </ng-container>
    -->
    

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>