body{
    background-color: none !important;
}

h3{
    color:black !important;
    padding-top: 5px;
    font-weight: 350;
}

h4{
    font-weight: 150;
    color: black;
    text-align: left;
}

.profile-p{
    font-weight: 100;
    text-align: left;
    margin-left: 10px;
}

.page-title{
    text-align: center;
}