<div class="container-fluid">
  <div *ngIf="user">
    <h3 class="page-title">Instellingen</h3>

    <hr class="divider">
    <div class="content">
        <a div class="action-button" routerLink="/profiel/edit" routerLinkActive="active">
          <i class="material-icons">mode_edit</i>
        </a>
      <div>
        <h4 class="profile-titel">Email adress</h4>
        <p class="profile-p">{{user.email}}</p>
      </div>
      <div>
          <h4 class="profile-titel">Addres</h4>
        <p class="profile-p">{{user.address}} {{user.addressnumber}}</p>
      </div>
      <div>
          <h4 class="profile-titel">Stad</h4>
        <p class="profile-p">{{user.addresscity}}</p>
      </div>
      <div>
          <h4 class="profile-titel">Postcode</h4>
        <p class="profile-p">{{user.addresspostalcode}}</p>
      </div>
    </div>
    <hr class="divider">
    <div class="skikaart">
      <h3>Skikaarten</h3>
      <p>Skikaarten in je bezit: {{payedCards.length}}</p>
      <p>Aantal beurten op je skikaarten: {{numberOfTurns}}</p>

      <p>Aantal skikaarten in aanvraag: {{pendingCards.length}}</p>
      <button class="btn btn-info" (click)="buy()">Koop skikaart</button>
    </div>
    <div *ngIf="!user.member.isMember && !user.member.pending">
      <hr class="divider">
      <div class="member">
        <h3>Wordt lid</h3>
        <p>Prijs: €55 / jaar</p>
        <p>Prijs per skikaart van 10 beurten: €110 </p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScG032OHlcx-L1Og0dYB_YRujhBCSGqCqBprlZCnUhFYCn99g/viewform?formkey=dFVDNFVhR3UyUFZDQ3FMWHVqeWVtWWc6MQ" class="btn btn-default">Wordt Lid</a>
        <button class="btn btn-info" (click)="makeMember()">Wordt lid</button>
      </div>
    </div>
    <div *ngIf="user.member.pending">
        <hr class="divider">
      <h3>Uw aanvraag is in behandeling</h3>
    </div>
    <div *ngIf="user.member.isMember && !user.member.pending">
      <hr class="divider">
      <div class="member">
        <h3>U bent lid bij ons!</h3>
        <p>Prijs: €55 / jaar</p>
        <p>Prijs per skikaart van 10 beurten: €110 </p>
        <button class="btn btn-danger" (click)="undoMember()">Schrijf jezelf uit</button>
      </div>
    </div>
  </div>
</div>